<nav>
	<a routerLink="home"><span><i class="fa fa-home"></i>Home</span></a>
	<a routerLink="profile"><span><i class="fa fa-user"> </i> Profile</span></a>
	<a routerLink="addpost"><span><i class="fa fa-plus-circle"> </i> Add Post</span></a>
	
    <a routerLink="contact"><span><i class="fa fa-phone"> </i> Contact</span></a>
    <div class="Search">
        <label>  <input type="search" #searching class="form-control mr-sm-2" ></label>
        <button class="btn btn-outline-success my-2 my-sm-0"  (click)="search(searching.value)" type="submit" routerLink="search">Search</button>
     </div>
    <div class="Login" >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="login">Login</button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="register">Register</button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"   routerLink="logout">logout</button>

    </div>
    <div class="animation" ></div>
  
</nav>

<br><br>

<router-outlet></router-outlet>