<nav>
	<a routerLink="home" (click)="c($event)"><span>Home</span></a>
	<a routerLink="profile"><span>Profile</span></a>
	<a routerLink="addpost"><span>Add Post</span></a>
	
    <a routerLink="contact"><span>Contact</span></a>
    <div class="Search">
        <label>  <input type="search"  class="form-control mr-sm-2" ></label>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     </div>
    <div class="Login" >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="login">Login</button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="register">Register</button>
    </div>
    <div class="animation" ></div>
  
</nav>


<div>for space</div>
<router-outlet></router-outlet>