<nav>
	<a routerLink="home"><span>Home</span></a>
	<a routerLink="profile"><span>Profile</span></a>
	<a routerLink="addpost"><span>Add Post</span></a>
	
    <a href="#"><span>Contact</span></a>
    <div class="Search">
        <label>  <input type="search"  class="form-control mr-sm-2" ></label>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     </div>
    <div class="Login">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</button>
    </div>
    <div class="animation start-home"></div>
  
</nav>


<div>for space</div>
<router-outlet></router-outlet>