@import '../style/card.css';
  p{
    color:rgb(179, 38, 38);
  }
  #wrongUserName{
    display: block;
  
  
  }
  #wrongpassword{
    display: block;
  }
  #ExistingUser{
    position: relative;
   
  }
  img{
    height: 20%;
  }