<div class="card bg-light text-dark card " id="card" >
    <img src="../../assets/contact.jpeg" class="card-img" alt="..." id="img">
    <div class="card-img-overlay" >
        <br><br><br><br><br><br>
      <h1 class="card-title">CONTACT US</h1>
      <p id="paragraph">Have a question ? Need help ? Don't hesitate to contact us and we asure you that you'll find experts who can help you. </p>
      <p class="card-text">We are always happy to help</p>
      <br><br><br><br>
      <button class="btn btn-primary " id='but' >Get my guide</button>
    </div>
  </div>

  <!-- <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Hello, World!</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
    </div>
  </ng-template> -->