.container form{
    height: 400px;
    
}
#area{
    font-family: "Poppins", sans-serif;
      height: 200px;
 
}
#tags{
    width:50%;
    display:inline-block;
    margin-right:10px;
}
 i,#img{
    margin-left: 10px;
    height: 40px;
    display: flexbox;
} 
p{
    color: red;
    display: none;
}
#title{
    display: inline;
    display:inline-block;
}
#upload_button {
    display: flexbox;
    padding-left: relative;
  }
  #upload_button input[type=file] {
    display:none;
  }
  h2{
      font-family:cursive;
      font-weight: thick;
      width: 25%;

      border-radius: 5px;
      opacity: 0.8;
  }
  .form_inline{
    display:inline-block;
  }