
<br>
 <!-- <h2 >Add your post heree :) !</h2>    -->
 <br>
 
<form  class="container" style="margin-top: 100px;" >
 <div class="form-group shadow-textarea" id="text" >
  <div class="input-group mb-3 row offset-3 col-6">
   <div class="form-inline">
    <span class="input-group-append"><i class=" input-group-text fa fa-bookmark"></i></span>
       <input type="text" class="form-control" id="title" placeholder="Title" [(ngModel)]='blog.title' [ngModelOptions]="{standalone: true}"/>
       <!-- [(ngModel)]='blog.title' [ngModelOptions]="{standalone: true}"formControlName="title"  -->
  <div class="browse-button">
 <div id="upload_button">
   <label>
       <i class="fa fa-image fa-2x  btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add Image" ></i>
       <input (change)="uploadFile($event)" type="file" class="btn btn-primary"  id="UploadedImg"  accept="image/png, image/jpeg ,image/jpg" />

       <!-- <input   [(ngModel)]='blog.image' type="file" class="btn btn-primary"  id="UploadedImg" placeholder="Add photo"  accept="image/png, image/jpeg ,image/jpg" [ngModelOptions]="{standalone: true}"/> -->
   </label>
 </div>
 
  </div>
  </div>
 </div>
  <div class="input-group mb-3 row offset-3 col-6">
    <span class="input-group-append"><i class=" input-group-text fa fa-tags"></i></span>
      <input  type="text" class="form-control"  id="tags" placeholder="Tags" [(ngModel)]='blog.tags'[ngModelOptions]="{standalone: true}" />
      <!-- [(ngModel)]='blog.tags'[ngModelOptions]="{standalone: true}" formControlName="tags"  -->
  </div>

  <div class="input-group mb-3 row offset-3 col-6">
       <textarea class="form-control z-depth-1"  id="area" rows="4" placeholder="Write what's on your mind...!" [(ngModel)]='blog.body' [ngModelOptions]="{standalone: true}"></textarea>
       <!-- [(ngModel)]='blog.body' [ngModelOptions]="{standalone: true}" formControlName="body" -->
  </div>
  <div class="input-group mb-3 row offset-3 col-6">
      <button class="btn btn-primary" type="submit" (click)="addPost()">Submit</button>
   </div>
</div>
</form>
