<br>
<div class="info" >  
     <img src='../../assets/user.jpeg'/>
        <p> {{Users.firstname}} {{Users.lastname}}</p>
      
       <div class="data">
         <p>Followers<span>{{this.follwersNumber}}</span></p>
         <p>Following<span>{{this.follwingNumber}}</span></p>
       </div>

       <pre>  <button class="btn btn-info"  (click)="edituser()" >Edit</button> <button class="btn btn-danger" (click)="deleteuser()" >Delete</button></pre> 
       <!-- (click)="edituser()"(click)="deleteuser()" -->
   
</div>
 <div class="post" *ngFor="let item of Blogs">
     <div style="height: 15px"></div>
 <div class="container">
    
   <div class="head">
      
      <div  id="tag" >
<pre><div id="time"><i class="fa fa-history"></i>Posted At:{{item.createdAt | date:'MMMM dd,YY'}}</div>
                                           <i class="fa fa-tags"></i> <span>{{item.tags}}</span> </pre>
      </div>
     
   </div>  
 
    
   <div class="content">
        <h1  >{{item.title}}</h1>
       
        <article id="article">
             {{item.body}}

             <span class="id">{{item._id}}</span>
             <!-- <div id="img"> <img class="img-responsive" [src]="item.image!=null?item.image:item.image"> </div> -->
             <span id="img"> <img class="img-responsive" [src]="item.image!=null?item.image:item.image"> </span>
        </article>
       
      
          </div>
       <div >
          <div class="likes" class="inline">
               <i class="fa fa-thumbs-up fa-2x" ><span>{{item.likes.length}}</span></i>
               <span></span>
          </div>
          <div class="comments" class="inline">
               <i class="fa fa-comment fa-2x"   (click)="showComment($event)" ></i>
               <span>comments</span>
          </div>
     
          <div class="edit" class="inline">
               <button class="btn btn-primary" (click)="editPost($event)">Edit</button>
               
          </div>
          <div class="inline" >
           <button class="btn btn-danger" (click)="delete($event)">Delete</button>
          </div>
        
         
          
       </div>
     
 <div class="comment"  *ngIf="displayComment==true" >  
                <ul><li> {{item.comments}}</li></ul> 
      </div>
 
 <div style="height: 15px"></div>
