 .info{
    text-align: center;

}
.info img{
    width: 150px;
    height: 150px;
  
    border-radius: 50%;
}
.info>p{
    color: rgb(24, 121, 185);
    font-size: 20px;
    margin-top: 10px;
    font-weight: bolder;
}
.data{
    display: inline-flex
}
.data>p{
    color: rgb(24, 121, 185);
    font-size: 20px;
    margin-top: 10px;
    margin-left: 50px;

}
.data span {
    margin-left: 10px;
    color: rgb(3, 23, 59);
}
.container{
    width: 70%;
    height: 450px;
    background-color: rgba(188, 202, 212, 0.116);
    }
    .head{
        height:50px;
    }
    .container img{
      /* margin-top: 29px; */
        /* margin-left: 600px; */
        float: right;
        /* width: 200px; */
        height: 200px; 
        border:0px white;
        /* border-radius: 50%; */
       
      
    }
    .head a{
        color: darkred;
      position: absolute;
      margin-top: 50px;
      margin-left: 10px;
      font-size: 20px;
      
    }
    .head a:hover{
        color: firebrick;
       text-decoration: none;
    }
    
    .content{
        background-color:#fff;
        border: 1px solid #fff;
        border-radius: 5px;
        margin-top: 40px;
        height: 70%;
        
        width: 100%;
    
    }
    .content h1{
        color: darkblue;
    }
    .content article{
        word-wrap: break-word;
        margin: 30px;
        line-height: 28px;
       text-align: justify;
    }
    
    .content h1{
    
        text-align: center;
    }
    .content .tags{
        position: absolute;
       
        margin-top: 70px;
    }
    .content .tags label{
      text-align: end;
        font-size: 20px;
    }
    .content .tags a{
        margin-left: 15px;
    }
    .footer{
        margin-top: 7px;
        text-align: center;
      
     
    }
    .footer>div{
     
        width: 130px;
        
    }
    .inline{
        float: left;
        cursor: pointer;
        
    }
    i{
       color:rgba(21, 4, 83, 0.644)
    }
    i:hover{
        transform: scale(1.5);
    }
    .inline:first-child{
        margin-right: 10;
    }
    .inline>span{
        position: absolute;
    margin-top: 4px;
        margin-left: 20px;
        color: darkblue;
    }
    .inline:nth-child(2){
        margin-left: 90px;
    }
    .inline:nth-child(3){
        margin-left: 700px;
    }
    .inline:nth-child(4){
        margin-left: 10px;
    }
    .comments{
       background-color: darkblue;
       
    }hr{
        height: 40px;
        color: floralwhite;
    }
    .comment{
        /* text-align: center; */
        width: 70%;
        background-color:#E5CCFF; 
        margin-left: 226px;

    }


#tag{
    float:right;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#E5CCFF; 
    border-radius: 5px;
}
.id{
    color:white;
}