<br>
<div class="info" >  
     <img src='../../assets/user.jpeg'/>
        <p> {{Users.firstname}} {{Users.lastname}}</p>
      
       <div class="data">
         <p>Followers<span>{{this.follwersNumber}}</span></p>
         <p>Following<span>{{this.follwingNumber}}</span></p>
       </div>
       <pre>  <button class="btn btn-info"  >Edit</button> <button class="btn btn-danger" (click)="deleteuser()" >Delete</button></pre> 
       <!-- (click)="edituser()"(click)="deleteuser()" -->
    
</div>
 <div class="post" *ngFor="let item of Blogs">
     <div style="height: 15px"></div>
 <div class="container">
   <div class="head">
 
       <!-- <img src='../../assets/p.jpeg'/> -->
      <div  id="tag" >
         <i class="fa fa-tags"></i> <span>Tags</span>
           <ul>
                <li >{{item.tags}}</li>
           </ul>
 
      </div>
   </div>  
   <div class="content">
        <h1  >{{item.title}}</h1>
        <article>
             {{item.body}}
             <span class="id">{{item._id}}</span>
        </article>
 
       </div>
       <div >
          <div class="likes" class="inline">
               <i class="fa fa-thumbs-up fa-2x" > </i>
               <span></span>
          </div>
          <div class="comments" class="inline">
               <i class="fa fa-comment fa-2x"   (click)="showComment($event)" ></i>
               <span>comments</span>
          </div>
     
          <div class="edit" class="inline">
               <button class="btn btn-primary" (click)="editPost($event)">Edit</button>
               
          </div>
          <div class="inline" >
           <button class="btn btn-danger" (click)="delete($event)">Delete</button>
          </div>
        
         
          
      </div>
     
 </div>
      <div class="comment"  *ngIf="displayComment==true" >  
                <ul><li> {{item.comments}}</li></ul> 
      </div>

 </div>

 
 <div style="height: 15px"></div>
 
