<div class="info">
   
    <img src='../../assets/p.jpeg'/>
      <p>Mohamed Atiah</p>
      <div class="data">
        <p>age<span>20</span></p>
        <p>Followers<span>40</span></p>
        <p>Following<span>30</span></p>
    </div>
</div>
<div class="post">
    <div style="height: 15px"></div>
   <div class="container">
  <div class="head">

      <img src='../../assets/p.jpeg'/>
      <a href="#">Mohamed Atiah</a>
     
  </div>  
  <div class="content">
       <h1>Humanity</h1>
       <article>
           the user has selected ak event of our list items, we’ve added two
            functions because that event executes any JavaScript code. The first function
             is searchArticles, which we’ve already explain, and the second one is sidenav
             .close() which will automatically close our left-side menu once the user has s
       </article>
     
  </div>
  <div class="footer">
      <div class="likes" class="inline">
           <i class="fa fa-thumbs-up fa-2x"></i>
           <span>Like</span>
      </div>
      <div class="comments" class="inline">
           <i class="fa fa-comment fa-2x"></i>
           <span>comments</span>
      </div>

      <div class="Follow" class="inline">
           <i class="fa fa-users fa-2x"></i>
           <span>Follow</span>
      </div>
     
      <div class="Share" class="inline">
       <i class="fa fa-share fa-2x"></i>
       <span>Share</span>
  </div>
  </div>
 
</div>
<div style="height: 15px"></div>
</div>
<div class="container">
    <div class="head">
 
        <img src='../../assets/p.jpeg'/>
        <a href="#">Mohamed Atiah</a>
       
    </div>  
    <div class="content">
         <h1>Humanity</h1>
         <article>
             the user has selected ak event of our list items, we’ve added two
              functions because that event executes any JavaScript code. The first function
               is searchArticles, which we’ve already explain, and the second one is sidenav
               .close() which will automatically close our left-side menu once the user has s
         </article>
       
    </div>
    <div class="footer">
        <div class="likes" class="inline">
             <i class="fa fa-thumbs-up fa-2x"></i>
             <span>Like</span>
        </div>
        <div class="comments" class="inline">
             <i class="fa fa-comment fa-2x"></i>
             <span>comments</span>
        </div>
 
        <div class="Follow" class="inline">
             <i class="fa fa-users fa-2x"></i>
             <span>Follow</span>
        </div>
       
        <div class="Share" class="inline">
         <i class="fa fa-share fa-2x"></i>
         <span>Share</span>
    </div>
    </div>
 </div>
 <div style="height: 15px;color: aqua"></div>

 <div class="container">
    <div class="head">
 
        <img src='../../assets/p.jpeg'/>
        <a href="#">Mohamed Atiah</a>
       
    </div>  
    <div class="content">
         <h1>Humanity</h1>
         <article>
             the user has selected ak event of our list items, we’ve added two
              functions because that event executes any JavaScript code. The first function
               is searchArticles, which we’ve already explain, and the second one is sidenav
               .close() which will automatically close our left-side menu once the user has s
         </article>
       
    </div>
    <div class="footer">
        <div class="likes" class="inline">
             <i class="fa fa-thumbs-up fa-2x"></i>
             <span>Like</span>
        </div>
        <div class="comments" class="inline">
             <i class="fa fa-comment fa-2x"></i>
             <span>comments</span>
        </div>
 
        <div class="Follow" class="inline">
             <i class="fa fa-users fa-2x"></i>
             <span>Follow</span>
        </div>
       
        <div class="Share" class="inline">
         <i class="fa fa-share fa-2x"></i>
         <span>Share</span>
    </div>
    </div>
 </div>
   <div style="height: 15px;color: aqua"></div>
   <div class="container">
  <div class="head">

      <img src='../../assets/p.jpeg'/>
      <a href="#">Mohamed Atiah</a>
     
  </div>  
  <div class="content">
       <h1>Humanity</h1>
       <article>
           the user has selected ak event of our list items, we’ve added two functions because that event executes any JavaScript code. The first function is searchArticles, which we’ve already explain, and the second one is sidenav.close() which will automatically close our left-side menu once the user has s
       </article>
     
  </div>
  <div class="footer">
      <div class="likes" class="inline">
           <i class="fa fa-thumbs-up fa-2x"></i>
           <span>Like</span>
      </div>
      <div class="comments" class="inline">
           <i class="fa fa-comment fa-2x"></i>
           <span>comments</span>
      </div>

      <div class="Follow" class="inline">
           <i class="fa fa-users fa-2x"></i>
           <span>Follow</span>
      </div>
     
      <div class="Share" class="inline">
       <i class="fa fa-share fa-2x"></i>
       <span>Share</span>
  </div>
  </div>
</div>

<div style="height: 15px;color: aqua"></div>
   <div class="container">
  <div class="head">

      <img src='../../assets/p.jpeg'/>
      <a href="#">Mohamed Atiah</a>
     
  </div>  
  <div class="content">
       <h1>Humanity</h1>
       <article>
           the user has selected ak event of our list items, we’ve added two functions because that event executes any JavaScript code. The first function is searchArticles, which we’ve already explain, and the second one is sidenav.close() which will automatically close our left-side menu once the user has s
       </article>
     
  </div>
  <div class="footer">
      <div class="likes" class="inline">
           <i class="fa fa-thumbs-up fa-2x"></i>
           <span>Like</span>
      </div>
      <div class="comments" class="inline">
           <i class="fa fa-comment fa-2x"></i>
           <span>comments</span>
      </div>

      <div class="Follow" class="inline">
           <i class="fa fa-users fa-2x"></i>
           <span>Follow</span>
      </div>
     
      <div class="Share" class="inline">
       <i class="fa fa-share fa-2x"></i>
       <span>Share</span>
  </div>
  </div>
</div>

