<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper fadeInDown container">
  <div id="formContent">
  
  <form>   
      <div class="fadeIn first">
       
      </div>
           <div>
               you are logout
           </div>
           <input type="submit" class="fadeIn fourth" value="Log In" (click)="login()" />
           <input type="submit" class="fadeIn fourth" value="cancel" (click)="cancel()" />
          
        </form>
         


