
<div class="post" *ngFor="let item of Blogs">
     <div style="height: 15px"></div>
    <div class="container">
   <div class="head">

       <img src='../../assets/p.jpeg'/>
       <a href="#"><span style="display:block;">{{item.author.firstname}} {{item.author.lastname}}</span></a><!--name-->
      
   </div>  
   <div class="content">
        <h1>{{item.title}}</h1><!--header for article-->
        <article><!--article content-->
           {{item.body}}

        </article>
      <span style="display:block;">{{item.author}}</span>
      <span style="display:block;">{{item._id}}</span>
    
     </div>
   <div class="footer">
       <div class="likes" class="inline">
            <i class="fa fa-thumbs-up fa-2x"  [class.i]="addlike==true"  (click)="like($event)"></i>
            <span>Like</span>
       </div>
       <div class="comments" class="inline">
            <i class="fa fa-comment fa-2x" (click)="addcomment($event)" ></i>
            <span>comments</span>
       </div>

       <div class="Follow" class="inline">
            <i class="fa fa-users fa-2x" (click)="follow($event)"></i>
            <span>Follow</span>
       </div>
      
       <div class="Share" class="inline">
        <i class="fa fa-share fa-2x"></i>
        <span>Share</span>
        </div>
       
   </div>
  
</div>
<div class="addcomment" *ngIf="displayAddComment==true">
     <input type="text"  #data minlength="5" maxlength="50">
     <button type="button" (click)="confirmAddcomment($event,data.value)">Comment</button>
</div>
<div style="height: 15px"></div>
</div>

